* {
  box-sizing: border-box;
}
.navbar ul {
  text-align: center;
}
.navbar li {
  list-style-type: none;
  display: inline-block;
}

.navbar li a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  margin:0;
  font-size: 22px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: burlywood;
}
.navbar .active {
  background-color: brown;
}

.bg {
    background-image: url("../img/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: 0;
    background-repeat: repeat-y;
    margin-bottom: 100px;
}

.display-4 {
    font-size: 60px;
    font-weight: bolder;
}

.lead {
    font-size: 20px;
    font-weight: bolder;
}


.jumbotron {
    display: inline-block;
    padding: 0 2%;
    margin-top : 100px;
    background-color: rgba(228, 220, 207, 0.5);
}

.my-4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1{
  text-align: center;
  color:white;
}



/******************************* Drinks Page **************************************/


.container-all{
  width: fit-content;
  margin: 50px auto;
  height: auto;
}

.container{
  width: calc(32% - 6px);
  overflow:hidden;
  margin: 3px;
  display:block;
  position:relative;
  float:left;
  border-radius: 25px;
}

img{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}

.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 30%;
  display: none;
  left: 50%;
  margin-right: -50%;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}

.container:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.container:hover .title{
  color:white;
  display: block;
  transition-duration: .3s;
}

/******************************* Contact Page **************************************/

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

#contact-form {
  width: 50%;
}

textarea {
  width: 100%;
  background-color: #000;
  color: #fff;
  resize: none;
}

.form-control {
  width: 100%;
  display: block;
  margin-bottom: 7px;
  padding: 5px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}


/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
  cursor: pointer;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.fa {
  cursor: pointer;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}


/************ ABOUT PAGE *********************/
.container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-4 {
  position: relative;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
}

.section-title {
  position: relative;
  padding: 0;
  text-align: center;
  font-size: 60px;
  color: chocolate;
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  text-decoration: none;
  background-color: #555555;
  margin-top: 5px;
}

.col-4 p {
  font-family: "Montserrat",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  text-align: left;
}

h1 {
  margin-bottom: .5rem;
  font-size: 40px;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #33211D;
}

